<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <convertToXConnectEvent>
        <processor type="Sitecore.Commerce.CustomModels.PageEvents.Converters.ConvertPageEventDataToSearchPageEvent, Sitecore.Commerce.Connect.Core">
          <patch:attribute name="type">Sitecore.Support.Commerce.CustomModels.PageEvents.Converters.ConvertPageEventDataToSearchPageEvent, Sitecore.Support.324455</patch:attribute>
        </processor>
      </convertToXConnectEvent>
    </pipelines>
  </sitecore>
</configuration>